<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Polist | {% block title %}{% endblock title %}</title>

    <!-- Tailwind css  -->
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <!-- Box icon  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css"
        integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Jquery plugin js -->
    <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
        integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
    <!-- Apex chart plugins js -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.41.0/dist/apexcharts.min.js"
        integrity="sha256-JvfrbG0Jkj1XzwMu28wweq4DTzHgRAQHmC5f0stdU5Q=" crossorigin="anonymous"></script>
    <!-- Core js -->
    <script src="{% static 'index.js' %}"></script>
</head>

<body class="bg-gray-100">
    <!-- loading overlay -->

    <div class="fixed bg-gray-700 bg-opacity-60 z-10 h-screen w-screen flex items-center justify-center" id="loading">
        <div class="flex items-center">
            <span class="text-3xl mr-4 text-white">{% block loadingmessage %}{% endblock loadingmessage %}</span>
            <!-- loading icon -->
            <svg class="animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                </path>
            </svg>
            <!-- end loading icon -->
        </div>
    </div>

    <!-- end loading overlay -->

    <!-- Navbar -->
    <nav class="bg-white border-b border-gray-300">
        <div class="flex items-center justify-between flex-wrap mx-auto max-w-screen-xl">
            <div class="flex items-center mx-2 py-3 md:py-0">
                <div class="flex items-center">
                    <button class="md:hidden mx-3">
                        <i class="text-2xl bx bx-menu"></i>
                    </button>
                    <a href="/" class="font-bold text-xl pr-6">Polist</a>
                </div>
                <ul class="text-sm font-normal hidden md:flex">
                    <li class="mx-3 py-4 font-medium text-sky-500 border-b-2 border-sky-500">
                        <a href="/" class="inline-flex items-center">
                            <i class="bx bx-home mr-1"></i>
                            Home
                        </a>
                    </li>
                    <li class="mx-3 py-4 text-gray-600 hover:text-gray-900 inline-block relative text-left">
                        <a href="#" class="inline-flex text-sm items-center text-gray-600 dropdown-toggle"
                            data-dropdown="dropdownMenuDashboard">
                            <i class="bx bx-pie-chart-alt mr-1"></i>
                            <span>Dashboard</span>
                            <i class="bx bx-chevron-down ml-1"></i>
                        </a>

                        <div class="origin-top-right absolute right-0 mt-3 z-10 w-40 rounded-md shadow-lg hidden"
                            id="dropdownMenuDashboard">
                            <div class="rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical"
                                aria-labelledby="options-menu">
                                <div class="py-1">
                                    <a href="./../index.html"
                                        class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700">Dashboard
                                        v1</a>
                                    <a href="#"
                                        class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700">Dashboard
                                        v2</a>
                                    <a href="#"
                                        class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700">Dashboard
                                        v3</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="mx-3 py-4 text-gray-600 hover:text-gray-900 relative inline-block text-left">
                        <a href="#" class="inline-flex items-center dropdown-toggle" data-dropdown="uiComponentMenu">
                            <i class="bx bx-outline mr-1"></i>
                            <span>UI Component</span>
                            <i class="bx bx-chevron-down ml-1"></i>
                        </a>

                        <div class="origin-top-right absolute right-0 mt-3 z-10 w-40 rounded-md shadow-lg hidden"
                            id="uiComponentMenu">
                            <div class="rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical"
                                aria-labelledby="options-menu">
                                <div class="py-1">
                                    <a href="./form.html"
                                        class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700">Form</a>
                                    <a href="./card.html"
                                        class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700">Card</a>
                                    <a href="#"
                                        class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700">Chart</a>
                                    <a href="./button.html"
                                        class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700">Buttons</a>
                                    <a href="#"
                                        class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700">Dropdown</a>
                                    <a href="#"
                                        class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700">Navbar</a>
                                    <a href="#"
                                        class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700">Maps</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="mx-3 py-4 text-gray-600 hover:text-gray-900 relative inline-block text-left">
                        <a href="#" class="inline-flex items-center dropdown-toggle" data-dropdown="pagesNav">
                            <i class="bx bx-book mr-1"></i>
                            <span>Pages</span>
                            <i class="bx bx-chevron-down ml-1"></i>
                        </a>

                        <div class="origin-top-right absolute right-0 mt-3 z-10 w-40 rounded-md shadow-lg hidden"
                            id="pagesNav">
                            <div class="rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical"
                                aria-labelledby="options-menu">
                                <div class="py-1">
                                    <a href="#"
                                        class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700">Login</a>
                                    <a href="#"
                                        class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700">Register</a>
                                    <a href="#"
                                        class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700">User
                                        Profile</a>
                                    <a href="#"
                                        class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700">User
                                        Settings</a>
                                    <a href="#"
                                        class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700">Blog</a>
                                    <a href="#"
                                        class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700">Timeline</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="mx-3 py-4 text-gray-600 hover:text-gray-900 relative inline-block text-left">
                        <a href="#" class="inline-flex items-center dropdown-toggle" data-dropdown="layoutNav"><i
                                class="bx bx-dock-right mr-1"></i>
                            <span> Layout</span>
                            <i class="bx bx-chevron-down ml-1"></i></a>

                        <div class="origin-top-right absolute right-0 mt-3 z-10 w-40 rounded-md shadow-lg hidden"
                            id="layoutNav">
                            <div class="rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical"
                                aria-labelledby="options-menu">
                                <div class="py-1">
                                    <a href="#"
                                        class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700">Vertical</a>
                                    <a href="#"
                                        class="block px-3 py-2 text-sm leading-5 text-gray-600 hover:bg-gray-200 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700">Vertical
                                        fluid</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="flex items-center">
                {% if request.user.is_authenticated %}
                <button class="mt-1 relative mx-2">
                    <i class="bx bx-bell text-xl text-gray-600"></i>
                    <span aria-hidden="true"
                        class="absolute top-0 right-0 inline-block w-3 h-3 transform translate-x-1 -translate-y-1 bg-red-600 border-2 border-white rounded-full dark:border-gray-800"></span>
                </button>

                <div class="inline-block relative text-left">
                    <a class="flex items-center mx-2 dropdown-toggle" href="" data-dropdown="dropDownMenu">
                        <img class="w-8 h-8 mr-3 rounded-full object-cover" src="./../dist/avatar/nis.png"
                            alt="Avatar" />
                        <div class="mt-1 hidden md:block">
                            <div class="leading-3 text-sm text-gray-700">
                                {{ request.user.username }}
                            </div>
                            <small class="text-xs text-gray-500">Anggota DPR</small>
                        </div>
                    </a>

                    <div class="origin-top-right absolute right-0 mt-3 z-56 w-56 rounded-md shadow-lg hidden"
                        id="dropDownMenu">
                        <div class="rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical"
                            aria-labelledby="options-menu">
                            <div class="py-1">
                                <a href="#"
                                    class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                                    role="menuitem">Settings</a>
                                <a href="{% url 'core:logout' %}"
                                    class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                                    role="menuitem">Logout</a>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <a href="{% url 'core:signup' %}"
                        class="px-4 py-2 text-sm border border-sky-600 rounded text-sky-600 hover:bg-sky-500 focus:outline-none focus:border-sky-600 focus:shadow-outline-sky active:bg-sky-600 active:text-white hover:text-white transition duration-150 ease-in-out inline-flex items-center m-1">
                        <i class="bx bx-edit-alt mr-2"></i>
                        Daftar
                    </a>
                    <a href="{% url 'core:login' %}"
                        class="px-4 py-2 text-sm border border-transparent rounded bg-sky-500 text-white hover:bg-sky-400 focus:outline-none focus:border-sky-500 focus:shadow-outline-sky active:bg-sky-500 transition duration-150 ease-in-out inline-flex items-center m-1">
                        <i class="bx bx-log-in mr-2"></i>
                        Masuk
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    <!-- End navbar -->

    <!-- Wrapper -->
    <div class="max-w-screen-xl mx-auto">
        <div class="mt-4 mx-2 md:flex justify-between items-center">
            <div class="">
                <h3 class="text-gray-600 text-sm">
                    <a href="" class="text-sky-600">
                        <i class="bx bx-home mr-1"></i>
                        Home
                    </a>
                    / {% block subtitle %}{% endblock subtitle %}
                </h3>

                <div>
                    <h1 class="text-2xl mt-1 font-medium">
                        {% block header %}{% endblock header %}
                    </h1>
                </div>
            </div>
            {% block buttonaction %}{% endblock buttonaction %}
        </div>
        {% block content %}{% endblock content %}
    </div>
    <!-- End wrapper -->
    <!-- Footer -->
    <div class="max-w-screen-xl mx-auto mb-4">
        <div class="mt-4 mx-2 flex justify-between items-center">
            <div class="text-gray-600">MIT License- Copyright (c) 2023</div>
        </div>
    </div>
    <!-- End footer -->

    <!-- Additional JS -->
    {% block additionaljs %}{% endblock additionaljs %}

    <script>
        $(() => {
            $("#searchButton").click(function (ev) {
                $('#loading').show();
            });
        });

        const wait = (delay = 0) =>
            new Promise(resolve => setTimeout(resolve, delay));

        // $('#content').hide();
        $('#loading').show();

        document.addEventListener('DOMContentLoaded', () =>
            wait(1000).then(() => {
                // $('#content').show();
                $('#loading').hide();
            }));

        var options = {
            chart: {
                type: "area",
                fontFamily: "inherit",
                height: 50,
                sparkline: {
                    enabled: true,
                },
            },
            dataLabels: {
                enabled: false,
            },

            fill: {
                opacity: 0.16,
                type: "solid",
            },
            stroke: {
                width: 2,
                lineCap: "round",
                curve: "smooth",
            },

            series: [
                {
                    name: "Revenue",
                    data: [
                        31, 37, 39, 62, 51, 35, 41, 35, 27, 27, 53, 61, 27, 54, 43, 19,
                        46, 39, 62, 51, 66, 70, 82,
                    ],
                },
            ],

            grid: {
                strokeDashArray: 4,
            },
            xaxis: {
                labels: {
                    padding: 0,
                },
                tooltip: {
                    enabled: false,
                },
                axisBorder: {
                    show: false,
                },
                type: "datetime",
            },
            yaxis: {
                labels: {
                    padding: 4,
                },
            },
            labels: [
                "2020-06-28",
                "2020-06-29",
                "2020-06-30",
                "2020-07-01",
                "2020-07-02",
                "2020-07-03",
                "2020-07-04",
                "2020-07-05",
                "2020-07-06",
                "2020-07-07",
                "2020-07-08",
                "2020-07-09",
                "2020-07-10",
                "2020-07-11",
                "2020-07-12",
                "2020-07-13",
                "2020-07-14",
                "2020-07-15",
                "2020-07-16",
                "2020-07-17",
                "2020-07-18",
                "2020-07-19",
                "2020-07-20",
            ],
            colors: ["#48bb78"],
            legend: {
                show: false,
            },
        };
        var chart1 = new ApexCharts(
            document.querySelector("#chart-sparkline-1"),
            options
        );
        chart1.render();

        var options2 = {
            chart: {
                type: "bar",
                fontFamily: "inherit",
                height: 50,
                sparkline: {
                    enabled: true,
                },
            },
            dataLabels: {
                enabled: false,
            },
            fill: {
                opacity: 0.7,
                type: "solid",
            },
            stroke: {
                width: 1,
                lineCap: "round",
                curve: "smooth",
            },

            series: [
                {
                    name: "Sales",
                    data: [
                        38, 31, 89, 37, 39, 62, 51, 35, 41, 35, 27, 27, 53, 61, 27, 54,
                        43, 120, 46, 50, 62, 51, 90, 70, 82,
                    ],
                },
            ],

            grid: {
                strokeDashArray: 4,
            },
            xaxis: {
                labels: {
                    padding: 0,
                },
                tooltip: {
                    enabled: false,
                },
                axisBorder: {
                    show: false,
                },
                type: "datetime",
            },
            yaxis: {
                labels: {
                    padding: 4,
                },
            },
            labels: [
                "2020-06-28",
                "2020-06-29",
                "2020-06-30",
                "2020-07-01",
                "2020-07-02",
                "2020-07-03",
                "2020-07-04",
                "2020-07-05",
                "2020-07-06",
                "2020-07-07",
                "2020-07-08",
                "2020-07-09",
                "2020-07-10",
                "2020-07-11",
                "2020-07-12",
                "2020-07-13",
                "2020-07-14",
                "2020-07-15",
                "2020-07-16",
                "2020-07-17",
                "2020-07-18",
                "2020-07-19",
                "2020-07-20",
            ],
            colors: ["#48bb78"],
            legend: {
                show: false,
            },
        };
        var chart2 = new ApexCharts(
            document.querySelector("#chart-sparkline-2"),
            options2
        );
        chart2.render();

        var options3 = {
            chart: {
                type: "line",
                fontFamily: "inherit",
                height: 50,
                sparkline: {
                    enabled: true,
                },
            },
            dataLabels: {
                enabled: false,
            },

            fill: {
                opacity: 0.7,
                type: "solid",
            },
            stroke: {
                width: [2, 1],
                dashArray: [0, 3],
                lineCap: "round",
                curve: "smooth",
            },

            series: [
                {
                    name: "Last month",
                    data: [
                        31, 37, 39, 62, 51, 35, 14, 35, 27, 27, 21, 61, 27, 54, 43, 120,
                        46, 50, 62, 121, 90, 70, 82,
                    ],
                },

                {
                    name: "This month",
                    data: [
                        91, 58, 90, 79, 83, 119, 78, 88, 129, 71, 90, 116, 94, 110, 103,
                        111, 119, 79, 94, 124, 81, 85, 82,
                    ],
                },
            ],

            grid: {
                strokeDashArray: 4,
            },
            xaxis: {
                labels: {
                    padding: 0,
                },
                tooltip: {
                    enabled: false,
                },
                axisBorder: {
                    show: false,
                },
                type: "datetime",
            },
            yaxis: {
                labels: {
                    padding: 4,
                },
            },
            labels: [
                "2020-06-28",
                "2020-06-29",
                "2020-06-30",
                "2020-07-01",
                "2020-07-02",
                "2020-07-03",
                "2020-07-04",
                "2020-07-05",
                "2020-07-06",
                "2020-07-07",
                "2020-07-08",
                "2020-07-09",
                "2020-07-10",
                "2020-07-11",
                "2020-07-12",
                "2020-07-13",
                "2020-07-14",
                "2020-07-15",
                "2020-07-16",
                "2020-07-17",
                "2020-07-18",
                "2020-07-19",
                "2020-07-20",
            ],
            colors: ["#48bb78"],
            legend: {
                show: false,
            },
        };
        var chart3 = new ApexCharts(
            document.querySelector("#chart-sparkline-3"),
            options3
        );
        chart3.render();

        // chart
        var options_bar = {
            series: [
                {
                    name: "Admin Template",
                    data: [
                        91, 58, 90, 79, 83, 119, 78, 88, 129, 71, 90, 116, 94, 110, 103,
                        111, 119, 79, 94, 124, 81, 85, 82, 79, 94, 124, 119, 79, 94, 124,
                        81, 90, 116,
                    ],
                },
                {
                    name: "Themes Tailwindcss",
                    data: [
                        31, 37, 39, 62, 51, 35, 14, 35, 27, 27, 21, 61, 27, 54, 43, 120,
                        46, 50, 62, 121, 90, 70, 82, 61, 27, 54, 39, 62, 51, 35, 14, 27,
                        21, 61,
                    ],
                },
                {
                    name: "Wordpress Themes",
                    data: [
                        31, 37, 39, 62, 51, 35, 41, 35, 27, 27, 53, 61, 27, 54, 43, 120,
                        46, 50, 62, 51, 90, 70, 82, 90, 70, 82, 35, 27, 27, 53, 61, 53,
                        61, 27,
                    ],
                },
            ],
            chart: {
                type: "bar",
                height: 350,
                stacked: true,
                toolbar: {
                    show: false,
                },
                zoom: {
                    enabled: false,
                },
            },
            responsive: [
                {
                    breakpoint: 480,
                    options: {
                        legend: {
                            position: "bottom",
                            offsetX: -10,
                            offsetY: 0,
                        },
                    },
                },
            ],
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: "50%",
                },
            },

            dataLabels: {
                enabled: false,
            },
            xaxis: {
                type: "datetime",
                categories: [
                    "2020-06-28",
                    "2020-06-29",
                    "2020-06-30",
                    "2020-07-01",
                    "2020-07-02",
                    "2020-07-03",
                    "2020-07-04",
                    "2020-07-05",
                    "2020-07-06",
                    "2020-07-07",
                    "2020-07-08",
                    "2020-07-09",
                    "2020-07-10",
                    "2020-07-11",
                    "2020-07-12",
                    "2020-07-13",
                    "2020-07-14",
                    "2020-07-15",
                    "2020-07-16",
                    "2020-07-17",
                    "2020-07-18",
                    "2020-07-19",
                    "2020-07-20",
                    "2020-07-21",
                    "2020-07-22",
                    "2020-07-23",
                    "2020-07-24",
                    "2020-07-25",
                    "2020-07-26",
                    "2020-07-27",
                    "2020-07-28",
                    "2020-07-29",
                    "2020-07-30",
                ],
            },
            stroke: {
                show: true,
                width: 2,
                colors: ["transparent"],
            },
            fill: {
                opacity: 1,
            },
            legend: {
                position: "bottom",
            },
            // colors: ["#f6ad55","#4299e1","#48bb78"],
            colors: ["#48bb78", "#4299e1", "#fbd38d"],
        };

        var chart1 = new ApexCharts(
            document.querySelector("#chart-bar"),
            options_bar
        );
        chart1.render();

        var options_chart_2 = {
            series: [332, 185, 151, 87],
            chart: {
                type: "donut",
                width: "100%",
                height: 400,
            },
            plotOptions: {
                pie: {
                    customScale: 0.85,
                    donut: {
                        size: "67%",
                    },
                },
                stroke: {
                    colors: undefined,
                },
            },
            colors: ["#2f855a", "#38a169", "#48bb78", "#68d391"],

            labels: ["USA", "India", "Japan", "Indonesia"],

            responsive: [
                {
                    breakpoint: 480,
                    options: {
                        chart: {
                            width: 200,
                        },
                        legend: {
                            position: "bottom",
                        },
                    },
                },
            ],
        };

        var chart = new ApexCharts(
            document.querySelector("#chart-pie-1"),
            options_chart_2
        );
        chart.render();
    </script>
</body>

</html>